@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 44px;
    line-height: 48px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin:15px 0 20px 0;
}
.section-p1{
    padding:40px 80px;
}
.section-m1{
    margin:40px 0;
}
body{
    width:100%;
}
label{
  font-size: 30px;
}
#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #96deff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
}
#foot{
    display:flex;
    align-items:normal;
    justify-content: space-between;
    padding: 400px 100px;
    background: #5c6178;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}
#text{
    font-size: 20px;
    font-style: italic,bold;
    color: #1a1a1a;
}

/*----------------------------------------styling live clock---------------------------------*/
#clock{
    display:flex;
    font-size: 52px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: #a5b2b3;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    left: 400px;
}
/*---------------------------------------end of styling live clock---------------------------*/
/*#fort{
    background-image: url("/Users/nil/Desktop/final project/bg1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: 0.2;
    background-blend-mode: lighten;
}
*/


/*-------------------------------styling buttons-----------------------------*/
#button-container {
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  #button-container button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #4CAF50;
    font-size: 26px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  #button-container button:hover {
    background-color: #3e8e41;
  }
/*-----------------------------end of styling buttons----------------------*/  


/*---------------------------spacing chat and buttons----------------------*/
#buttonsandchat{
    background-image: url("/Users/nil/Desktop/final project/bgbg.png");
    background-repeat: no-repeat;
    background-position:left;
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content:space-between;
}
/*---------------------------end of spacing chat and buttons----------------------*/



/*------------------------------------Designig chatbot---------------------------------------------------------*/

/* Button used to open the chat form - fixed at the bottom of the page */

#myform{
    display: flex;
    background: grey;
    border-color: #1a1a1a;
    align-content: end;
    align-items: flex-end;
    justify-content: flex-end;
}
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 300px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

img{
    opacity: 1;
}
/*------------------------------------------end of designing chatbox----------------------------------*/